@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

* {
    font-family: "Noto Sans", "Noto Sans JP", "源ノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴシック", "Yu Gothic", "游ゴシック", sans-serif;
}

body {
    margin: 1em;
}

footer {
    border-top: 1px solid black;
    text-align: center;
}

small {
    text-align: center;
}

span#icon {
    margin: 0;
    padding: 0;
    width: 4em;
    position: fixed;
    bottom: 1em;
    right: 0px;
    display: block;
}

span#icon *{
    display: block;
}
img.icon{
    width: 4em;
    border-radius: 1em 0 0 1em;
    opacity: 85%;
}
img.T{
    opacity: 0%;
    position: fixed;
    right: 0;
    bottom: 1em;
    padding: 0.25em;
    height: 3.5em;
    width: 3.5em;
    transition: opacity 200ms ease-in-out 0s;
}
img.T:hover {
    opacity: 85%;
    transition: opacity 200ms ease-in-out 0s;
}