@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

* {
    font-family: "Noto Sans", "Noto Sans JP", "源ノ角ゴシック", "Hiragino Sans", "ヒラギノ角ゴシック", "Yu Gothic", "游ゴシック", sans-serif;
}

body {
    margin: 1em;
}

small {
    text-align: center;
}

img#icon {
    margin: 0;
    padding: 0;
    width: 5em;
    position: fixed;
    bottom: 1em;
    right: 0px;
    border-radius: 1em 0 0 1em;
}